# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environments
venv/
.env

# Ignore Logs and Temporary Files
*.log
*.tmp
*.swp

# Ignore Dataset and Model Weights
data/
*.csv
*.h5
*.hdf5
*.pkl
*.ckpt
*.onnx
*.tflite
*.weights

# Ignore Large Image Files and Outputs
outputs/
*.png
*.jpg
*.jpeg

# Ignore VS Code Settings
.vscode/
